/* Правильный бокс-сайзинг   */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.test__ul > li:last-child {
  color: red;
  border: 1px solid black;
}

.test__div > p:first-child {
  color: red;
  border: 1px solid black;
  justify-content: center;
}
